.landing{
    width: 100vw;
    max-width: 100%;
    height: 65vh;
    background-color: rgb(162, 13, 13);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.landingButtons{
    display: flex;
    flex-direction: column;
    height: max-content;
    align-items: center;
    gap: 5px;
}
.landingButtons span{
    font-size: 2rem;
    color: white;
    font-weight: 700;
    font-family: poppins;
}
.landingButtons button{
    padding: 13px 25px;
    font-size: 1.2rem;
    color: rgb(144, 0, 0);
    background-color: rgb(246, 230, 230);
    border: 2px solid rgb(166, 2, 2);
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 0px 5px rgb(229, 170, 170);
    outline: none;
    cursor: pointer;
}
.landingText{
    width: 40%;
    height: 70%;
    /* background-color: aqua; */
    background-image: url('/src/assets/blood.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: max-content; */
}
.landingText span{
    font-size: 2rem;
    font-family: poppins;
    font-weight: 600;
    color: rgb(248, 201, 201);
    /* color: transparent; */
    cursor: context-menu;
    -webkit-text-stroke: 0.1px white;
}